function Keyboard.init 0
push constant 24576
pop static 0
push constant 0
return
function Keyboard.keyPressed 1
push static 0
push constant 0
add
pop pointer 1
push that 0
pop local 0
push local 0
push constant 0
gt
not
if-goto IF_TRUE0
push local 0
return
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
function Keyboard.readChar 2
label WHILE_EXP0
push local 0
push constant 0
eq
not
if-goto WHILE_END0
push static 0
push constant 0
add
pop pointer 1
push that 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
pop local 1
label WHILE_EXP1
push local 0
push constant 0
eq
not
not
if-goto WHILE_END1
push static 0
push constant 0
add
pop pointer 1
push that 0
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 128
eq
push local 1
push constant 129
eq
or
not
not
if-goto IF_TRUE0
push local 1
call Output.printChar 1
pop temp 0
goto IF_FALSE0
label IF_TRUE0
label IF_FALSE0
push local 1
return
function Keyboard.readLine 2
push constant 20
call String.new 1
pop local 0
push argument 0
call Output.printString 1
pop temp 0
label WHILE_EXP0
push constant 1
neg
not
if-goto WHILE_END0
call Keyboard.readChar 0
pop local 1
push local 1
push constant 128
eq
not
if-goto IF_TRUE0
call Output.println 0
pop temp 0
push local 0
return
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 129
eq
not
if-goto IF_TRUE1
push local 0
call String.length 1
push constant 0
gt
not
if-goto IF_TRUE2
push local 0
call String.eraseLastChar 1
pop temp 0
call Output.backSpace 0
pop temp 0
goto IF_FALSE2
label IF_TRUE2
label IF_FALSE2
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 1
call String.appendChar 2
pop local 0
label IF_FALSE1
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Keyboard.readInt 1
push argument 0
call Keyboard.readLine 1
pop local 0
push local 0
call String.intValue 1
return
